@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
.body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.darkbackground {
    background-color: #1F2937;
    padding-bottom: 150px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

.headerlogo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
    padding-left: 150px;
}

.headerlinks {
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    flex-shrink: 1;
    margin-right: 150px;
}

.websitetext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 1;
    margin-left: 150px;
}

.subtext {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

.placeholder {
    background-color: grey;
    background-size: 100px;
    display: flex;
    color: #E5E7EB;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 150px;

}

.pagetop {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #3882F6;
    color: #fff;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: bold;
    width: 90px;
    margin-top: 10px;
}

.whitebackground {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.headertwo {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxcontainer {
   display: flex;
   justify-content: center;
   list-style-type: none;
   flex-shrink: 1;
   
   
}

.boxone {
    display: flex;
    border-width: 5px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    background-size: 100px;
    width: 150px;
    height: 150px;
    margin: 5px 20px 0px 20px;
}

.boxtwo{
    display: flex;
    border-width: 5px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    background-size: 100px;
    width: 150px;
    height: 150px;
    margin: 5px 20px 0px 20px;
}

.boxthree {
    display: flex;
    border-width: 5px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    background-size: 100px;
    width: 150px;
    height: 150px;
    margin: 5px 20px 0px 20px;
}

.boxfour {
    display: flex;
    border-width: 5px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    background-size: 100px;
    width: 150px;
    height: 150px;
    margin: 5px 20px 0px 20px;
}

.cardcontainer {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: darkgray;
    flex-shrink: 1;
    text-align: center;
    margin-right: 30px;
}

.cardone {
    display: flex;
    width: 200px;
    
}

.cardtwo {
    display: flex;
    width: 200px;
    
}

.cardthree {
    display: flex;
    width: 200px;
    
}

.cardfour {
    display: flex;
    width: 200px;
    
}

.greybackground {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    background-color: #E5E7EB;
    color: #1F2937;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.quotesubtext {
    display: flex;
    font-weight: bold;
    text-align: right;
    padding-left: 500px;
    margin-top: 0px;
    font-size: 24px;
}

.quote {
    margin-bottom: 0px;
}

.whitebackground2 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.signupcard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #3882F6;
    border-radius: 10px;
    background-size: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.call {
    color: #E5E7EB;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
    
}

.callsubtext {
    color: #E5E7EB;
    font-size: 12px;
    margin-top: 0px;
}